@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor01: #2EFFDF;
    --cor02: #2AD1E8;
    --cor03: #3BB5FF;
    --cor04: #2A6DE8;
    --cor05: #2E41FF;

    --fonte-01: 'Spartan', sans-serif;
    --fonte-02: 'Bebas Neue', cursive;
}

body {
    font-family: var(--fonte-02);
    height: 100vh;
}

nav {
    background-color: var(--cor05);
    font-family: var(--fonte-01);
    font-weight: bold;
    font-size: 1em;
    box-shadow: 2px 2px 5px #0000006b;
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a.logo-brand {
    font-size: 2em;
    padding: 0px 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px 14px 20px;
    border-radius: 10px 10px 0 0;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 5px #0000006b;
}

nav a.pg:hover {
    color: var(--cor01);
    font-size: 1.3em;
    text-shadow: 2px 2px 5px #0000006b;
}

main {
    max-width: 1000px;
    min-height: 100%;
}

main img {
    width: 100%;
    height: 20%;
    border-radius: 0px 10px 0px 0px;
}

main h1 {
    text-align: center;
    color: var(--cor05);
    font-size: 3.15em;
    text-shadow: 2px 2px 5px #0000006b;
    padding: 20px;
    border-radius: 10px;
}

.h1-border {
    background-image: linear-gradient(to right, var(--cor05), transparent);;
    height: 3px;
    margin-bottom: 30px;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor05), transparent);
    color: white;
    font-size: 2em;
    padding: 10px 0px 10px 20px;
    margin-top: 20px;
    text-shadow: 2px 2px 5px #0000006b;
    border-radius: 10px 10px 10px 0px;
}

main p {
    padding: 10px;
    font-family: var(--fonte-01);
    line-height: 1.5em;
    font-weight: 500;
    font-size: 1.3em;
    text-align: justify;
    hyphens: auto;
    text-indent: 30px;
}

.post {
    max-width: 80%;
    padding: 50px;
}

.post-border {
    background-color: var(--cor05);
    height: 3px;
}

.img-description {
    background-color: var(--cor05);
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: -8px;
    font-family: var(--fonte-01);
    font-weight: 400;
    font-size: 1em;
    border-radius: 0px 0px 10px 10px;
    transition-duration: 0.5s;
}

.img-description:hover {
    color: var(--cor01);
    font-size: 1.1em;
    font-weight: bold;
}

footer {
    background-color: var(--cor05);
    padding: 25px;
    font-family: var(--fonte-01);
    font-size: 0.9em;
    text-align: center;
    color: white;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor01);
}

@media (max-width: 1180px) {
    .post {
        margin: auto;
    }
}

@media (max-width: 750px) {
    nav {
        display: block;
        text-align: center;
    }

    nav a.pg {
        display: none;
    }

    main h1 {
        font-size: 2em;
    }

    main h2 {
        font-size: 1.4em;
    }

    main p {
        font-size: 1.2em;
    }
}